.standard-header 
    height 45px
.standard-footer
    height 50px
.standard-content
    height calc(100vh - 45px - 50px)

// 常用字体大小 12 - 18
// 常用图表大小 12 16 24

.standard-cell
    height 90px

.common-btn
    background-color #E82714 !important
    color #fff !important
    border-radius 6px !important