// 背景颜色
$red = #E82714
$black = #000
$link = #127FF3
$gradient-top = #FF7925
$gradient-bottom = #FFA076
$gradient-left = #FF5400
$gradient-right = #FF8F00
$back = #F3F5F9

// 字体颜色
$font-red = #EB2E2D
$font-black = #000000
$font-black3 = #333333
$font-grey = #999999

$line = #E3E3E3
